{include file="$labeltempl" /}
<div class="{$size[1]}">
    <div class="pwd-eye-wrap" x-data="passwordEye('{:__blang('builder_show_password')}', '{:__blang('builder_hide_password')}')">
        <input type="password" :type="shown ? 'text' : 'password'"
            class="input input-bordered w-full pwd-eye-input {$class}" placeholder="{$placeholder}"
            value="{$value}" name="{$name}" id="{$id}" {$attr|raw}>
        <button type="button" class="pwd-eye-btn" @click="shown = !shown" :title="title"
            :aria-label="title" :aria-pressed="shown ? 'true' : 'false'">
            <i class="mdi" :class="shown ? 'mdi-eye-off' : 'mdi-eye'"></i>
        </button>
    </div>
    {include file="$helptempl" /}
</div>
