{include file="$labeltempl" /}
<div class="{$size[1]}" id="{$id}-wrap">
    <x-select class="{$class}" cfg="{$cfg|raw}">
        <select class="select select-bordered w-full" name="{$name}" id="{$id}" data-selected="{$dataSelected}" {$attr|raw}>
            {if condition="$group"}
            {volist name="options" id="group"}
            <optgroup label="{$group.label}">
                {volist name="group.options" id="option"}
                <option value="{$key}" {if condition="'-'.$key eq $checked" }selected{/if} {in name="'-'.$key"
                    value="$disabledOptions" }disabled{/in}>{$option}
                </option>
                {/volist}
            </optgroup>
            {/volist}
            {else/}
            {volist name="options" id="option"}
            <option value="{$key}" {if condition="'-'.$key eq $checked" }selected{/if} {in name="'-'.$key"
                value="$disabledOptions" }disabled{/in}>{$option}
            </option>
            {/volist}
            {/if}
        </select>
    </x-select>
    {include file="$helptempl" /}
</div>
